<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title> PROJET</title>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

    <script src="https://cdn.jsdelivr.net/accounting.js/0.3.2/accounting.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    

</head>

<body>

    <div id="application">
        <h1><label for="name">Make a search on MusicBrainz</label></h1>
        <br>

        <input v-model="cat" type="radio" name="cat" value="artist"> Artiste<br>
        <input v-model="cat" type="radio" name="cat" value="recording">Chanson<br>
        <input v-model="cat" type="radio" name="cat" value="cdstub">Album<br>

        <input v-model="search" v-on:keyup.enter="searchOn(cat,search)" type="text" id="name" name="name" required> <br>
        <button type="button" class="btn btn-primary" v-on:click="searchOn(cat,search)">Search</button>

        
        <div v-if="resulcat == 'artist'"> <artist-list v-bind:infomusic="infos"></artist-list></div>
        <div v-else-if="resulcat == 'recording'"> <music-list v-bind:infomusic="infos"></music-list></div>
        
        https://wireframe.cc/pEhyu0
        https://wireframe.cc/rQ3slX

    </div>

    <script src="test.js"></script>

    <script>

        // Vue.config.devtools = true;
        var app = new Vue({
            el: '#application',

            data: {
                search:"",
                cat:"artist",
                resulcat:'',
                infos:'',
                albumlist:[],
                
                errored:false,
                loading:true,
                ErrorText:""

            },

            methods: {
                listAlbum(search){
                    var convertSearch = encodeURIComponent(search)
                    axios.defaults.crossDomain=true;
                    axios
                    .get('https://musicbrainz.org/ws/2/cdstub/?query=artist:'+convertSearch+'&fmt=json', {
                        proxy: {
                            host:'http://www-cache.iutnc.univ-lorraine.fr/',
                            port:3128
                        }
                    })
                .then(response => {
                    var albums =response['data']['cdstubs']
                    // for(album in albums){
                    //     this.albumlist.push(album.title)
                        
                    //     console.log(album)
                        for(var i= 0; i< albums.length;i++){
                            var obj = albums[i]['title']
                            this.albumlist.push(obj)                       
                        }
                    //}
                        // console.log(this.albumlist)
                        // console.log('https://musicbrainz.org/ws/2/cdstub/?query=artist:'+search+"&fmt=json")
                        console.log(this.albumlist)
                    })
                    .catch(error => {
                        this.errored = true;
                        //console.log(error);
                        this.ErrorText = error;
                    })
                    .finally(()=> {
                        this.loading = false;
                    })
                },

                searchOn(cat,search){
                    axios.defaults.crossDomain=true;
                    axios
                    .get('https://musicbrainz.org/ws/2/'+cat+'/?query='+search+"&fmt=json", {
                        proxy: {
                            host:'http://www-cache.iutnc.univ-lorraine.fr/',
                            port:3128
                        }
                    })
                    .then(response => {
                        this.resulcat = this.cat
                        this.infos = response['data'][cat+'s'];
                        console.log(this.infos)
                        for(var i= 0; i< this.infos.length;i++){
                            var obj = this.infos[i]['name']
                            this.listAlbum(obj)
                        }
                        
                    })
                    .catch(error => {
                        this.errored = true;
                        console.log(error);
                        this.ErrorText = error;
                    })
                    .finally(()=> {
                        this.loading = false;
                    })
                },

            },

            computed: {

            },


            created() {

            },

            mounted () {

            }
            
        });
    </script>


    <style>

    </style>
</body>

</html>